:root {
  --bg: #404040;
  --bg-darkened: #333333;
  --orange: #f2af6f;
  --darkened-orange: #f0a35c;
  --blue: #6cd7f4;
  --green: #baf26f;
  --darkened-green: #99eb2d;
  --almost-white: rgb(226, 226, 226);
}

body {
  background-color: var(--bg);
}

.button_container {
  display: flex;
  justify-content: center;
}

h1 {
  color: var(--almost-white);
  text-align: center;
  font-size: 70px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h3 {
  text-align: center;
  font-size: 30px;
  color: var(--blue);
  letter-spacing: 2px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text {
  padding: 10px;
  margin-top: 15px;
  color: var(--almost-white);
  letter-spacing: 2px;
  text-align: center;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.text_container {
  padding: 30px;
}

.see_notifs {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: var(--green);
  border: none;
  font-size: 15px;
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.see_notifs:hover {
  padding: 20px;
  background-color: var(--darkened-green);
  border: none;
  font-size: 15px;
  padding: 15px 30px;
  text-transform: uppercase;
  font-weight: bold;
}
