:root {
  --bg: #404040;
  --bg-darkened: #333333;
  --orange: #f2af6f;
  --darkened-orange: #f0a35c;
  --blue: #6cd7f4;
  --green: #baf26f;
  --darkened-green: #99eb2d;
  --almost-white: rgb(226, 226, 226);
}

.logo {
  color: var(--orange);
  letter-spacing: 3px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav_bar_container {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  display: flex;
}

.nav_bar_container li {
  display: inline-block;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 3px;
}

.nav_bar_container li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: var(--almost-white);
}

.nav_bar_container li a:hover {
  background-color: var(--bg-darkened);
}
